! cafe style file for fluxbox style by packrat
! dark colored theme based on cafe suite by taklertamas - http://taklertamas.deviantart.com/art/Cafe-suite-622175160
! 7-17-2016
! This work is licensed under the Creative Commons 
! Attribution-NonCommercial-ShareAlike License. 
!
!======================================================================!

*font:				Sans-10:Regular
!toolbar.workspace.font:	Inconsolata-11
!toolbar.clock.font:		Inconsolata-11
!window.font:			<font>
!menu.frame.font:		<font>
!menu.hilite.font:		<font>
!menu.title.font:		sans-10:bold
!toolbar.iconbar.focused.font:	<font>
!toolbar.iconbar.unfocused.font:	<font>

## this doesn't seem to work
!window.font:		sans-10:bold
!window.effect:		halo
!window.shadow.color:	#64BE2D
!window.shadow.x:	5
!window.shadow.y:	5

toolbar:				flat
toolbar.height:				24
toolbar.bevelWidth:			1
toolbar.borderColor:		#1F1F1F
toolbar.borderWidth:			1
toolbar.color:				#181818
toolbar.colorTo:			#181818
!toolbar.pixmap:			<filename>
toolbar.shaped:				false

toolbar.clock:					flat
toolbar.clock.borderColor:		#1F1F1F
toolbar.clock.borderWidth:		0
toolbar.clock.justify:			Center
!toolbar.clock.pixmap:			<filename>
toolbar.clock.color:			#181818
toolbar.clock.colorTo:			#181818
toolbar.clock.textColor:		#BFBFBF

toolbar.workspace:				flat
toolbar.workspace.justify:		Center
toolbar.workspace.textColor:		#BFBFBF
toolbar.workspace.borderColor:		#1F1F1F
toolbar.workspace.borderWidth:		0
toolbar.workspace.color:		#181818
toolbar.workspace.colorTo:		#181818
!toolbar.workspace.pixmap:		<filename>

toolbar.button:				parentrelative
toolbar.button.scale:			0.66

toolbar.iconbar.empty:			flat
toolbar.iconbar.empty.color:		#181818
toolbar.iconbar.empty.colorTo:		#181818
toolbar.iconbar.borderColor:		#1F1F1F
toolbar.iconbar.borderWidth:		1
!toolbar.iconbar.empty.pixmap:		<filename>

toolbar.iconbar.focused:			sunken gradient vertical bevel1
toolbar.iconbar.focused.color:		#574431
toolbar.iconbar.focused.colorTo:	#4D3B29
toolbar.iconbar.focused.borderColor:	#1F1F1F
toolbar.iconbar.focused.borderWidth:	1
!toolbar.iconbar.focused.pixmap:	unfcs.png
toolbar.iconbar.focused.justify:	Center
toolbar.iconbar.focused.textColor:	#D9D9D9

toolbar.iconbar.unfocused:			flat gradient vertical
toolbar.iconbar.unfocused.color:	#181818
toolbar.iconbar.unfocused.colorTo:	#181818
!toolbar.iconbar.unfocused.pixmap:	barfcs.png
toolbar.iconbar.unfocused.borderColor:	#1F1F1F
toolbar.iconbar.unfocused.borderWidth:	1
toolbar.iconbar.unfocused.justify:	Center
toolbar.iconbar.unfocused.textColor:	#BFBFBF

window.title.height:			20
window.bevelWidth:			1
window.borderColor:			#1F1F1F
window.borderWidth:			1
window.justify:				Center
!window.frame.focusColor:		red
!window.frame.unfocusColor:		green
!window.roundCorners:			<{Top|Bottom}{Left|Right}>

window.title.focus:			flat gradient vertical
window.title.focus.color:		#181818
window.title.focus.colorTo:		#181818
!window.title.focus.pixmap:		<filename>

window.title.unfocus:			flat gradient vertical
window.title.unfocus.color:		#181818
window.title.unfocus.colorTo:		#181818
!window.title.unfocus.pixmap:		<filename>

!window.label.active:			<texture type>
!window.label.active.textColor:		<color>

window.label.focus:				flat gradient vertical
window.label.focus.color:		#574431
window.label.focus.colorTo:		#4D3B29
window.label.focus.textColor:	#D9D9D9
!window.label.focus.pixmap:		barfcs.png

window.label.unfocus:			flat gradient vertical
window.label.unfocus.color:		#181818
window.label.unfocus.colorTo:		#181818
window.label.unfocus.textColor:		#BFBFBF
!window.label.unfocus.pixmap:		unfcs.png

window.button.focus:			flat gradient vertical
window.button.focus.color:		#181818
window.button.focus.colorTo:		#181818
window.button.focus.picColor:		#BFBFBF
!window.button.focus.pixmap:		button.png
window.button.pressed:			sunken
window.button.pressed.color:		#1F1F1F
window.button.pressed.colorTo:		#1F1F1F
!window.button.pressed.pixmap:		pressed.png

window.button.unfocus:				flat gradient vertical
window.button.unfocus.color:		#181818
window.button.unfocus.colorTo:		#181818
window.button.unfocus.picColor:		#BFBFBF
!window.button.unfocus.pixmap:		unfcs.png

window.grip.focus:				flat gradient vertical
window.grip.focus.color:		#574431
window.grip.focus.colorTo:		#4D3B29
!window.grip.focus.pixmap:		<filename>
window.grip.unfocus:			flat gradient vertical
window.grip.unfocus.color:		#292929
window.grip.unfocus.colorTo:		#292929	
!window.grip.unfocus.pixmap:		<filename>

window.handle.focus:			flat gradient vertical
window.handle.focus.color:		#181818
window.handle.focus.colorTo:		#181818
!window.handle.focus.pixmap:		<filename>
window.handle.unfocus:			flat gradient vertical
window.handle.unfocus.color:		#181818
window.handle.unfocus.colorTo:		#181818	
!window.handle.unfocus.pixmap:		<filename>
window.handleWidth:			5

!window.close.pixmap:			focus.png
!window.close.pressed.pixmap:		press.png
!window.close.unfocus.pixmap:		focus.png
!window.iconify.pixmap:			focus.png
!window.iconify.pressed.pixmap:		press.png
!window.iconify.unfocus.pixmap:		unfcs.png
!window.maximize.pixmap:		focus.png
!window.maximize.pressed.pixmap:	press.png
!window.maximize.unfocus.pixmap:	unfcs.png
!window.shade.pixmap:			focus.png
!window.shade.pressed.pixmap:		press.png
!window.shade.unfocus.pixmap:		unfcs.png
!window.stick.pixmap:			focus.png
!window.stick.pressed.pixmap:		press.png
!window.stick.unfocus.pixmap:		unfcs.png
!window.stuck.pixmap:			focus.png
!window.stuck.unfocus.pixmap:		unfcs.png
!window.lhalf.pixmap:			<filename>
!window.lhalf.unfocus.pixmap:		<filename>
!window.rhalf.pixmap:			<filename>
!window.rhalf.unfocus.pixmap:		<filename>

menu.itemHeight:			20
menu.bevelWidth:			1
menu.borderColor:			#1F1F1F
menu.borderWidth:			1
menu.bullet:				triangle
menu.bullet.position:			right
menu.frame:					raised
menu.frame.color:			#181818
menu.frame.colorTo:			#181818
menu.frame.disableColor:	#737373
menu.frame.justify:			Left
!menu.frame.pixmap:			<filename>
menu.frame.textColor:			#BFBFBF
menu.hilite:				flat gradient vertical bevel1
menu.hilite.color:			#574431
menu.hilite.colorTo:		#4D3B29
menu.hilite.justify:			Left
!menu.hilite.pixmap:			<filename>
menu.hilite.textColor:			#D9D9D9

menu.title:					flat gradient vertical bevel1
menu.title.color:			#574431
menu.title.colorTo:			#4D3B29
!menu.title.pixmap:			<filename>
menu.title.textColor:		#BFBFBF
menu.title.justify:			Center
menu.titleHeight:			18
!menu.roundCorners:			<{Top|Bottom}{Left|Right}>
!menu.selected.pixmap:			<filename>
!menu.submenu.pixmap:			<filename>
!menu.unselected.pixmap:		<filename>

slit:					flat
slit.bevelWidth:			0
slit.borderColor:			#111111
slit.borderWidth:			0
slit.color:				#111111
slit.colorTo:				#111111
!slit.pixmap:				<filename>

!background:				centered|aspect|tiled|fullscreen|random|solid|gradient <texture>|mod|none|unset
!background.pixmap:			<file or directory>
!background.color:			<color>
!background.colorTo:			<color>
!background.modX:			<integer>
!background.modY:			<integer>

!EOF
