! Xft settings ---------------------------------------------------------
Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
!Xft.autohint: 0

! special
*.foreground:   #dbdcd9
*.background:   #0d0e0f
*.cursorColor:  #dbdcd9

! black
*.color0:       #1c1d1e
*.color8:       #373b41

! red
*.color1:       #c13333
*.color9:       #cc6666

! green
*.color2:       #4f9440
*.color10:      #b5bd68

! yellow
*.color3:       #deb940
*.color11:      #f0c674

! blue
*.color4:       #17578b
*.color12:      #81a2be

! magenta
*.color5:       #85678f
*.color13:      #b294bb

! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7

! white
*.color7:       #a9abae
*.color15:      #e2e5e9

! URxvt -----------------------------------------------------------------------
URxvt*termName:          rxvt-256color
URxvt*scrollBar:         false
URxvt*scrollBar_right:   false

URxvt*transparent:       false

URxvt*depth:             32
URxvt.background:        [90]#111112

!URxvt.font:              xft:Inconsolata LGC Markup:size=11:antialias=true:autohint=true
!URxvt.boldFont:          xft:Inconsolata LGC Markup:size=11:antialias=true:autohint=true
URxvt.font:              xft:Fira Code:Retina:size=11:antialias=true:autohint=true
URxvt.boldFont:          xft:Fira Code:Retina:size=11:antialias=true:autohint=true
URxvt.letterSpace: 1

*antialias:              true
*autohint:               true

!URxvt.perl-ext-common: default,matcher,selection-to-clipboard
!URxvt.url-launcher: firefox
!URxvt.matcher.button: 1
URxvt.perl-ext-common:  matcher
URxvt.urlLauncher:      firefox
URxvt.tabbed.tabbar-fg: 14
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg:    13
URxvt.tabbed.tab-bg:    0


! XTerminals ------------------------------------------------------------
UXterm*termName:            xterm-256color
!UXTerm*faceName:            xft:Hack:size=11:antialias=true:autohint=true
UXTerm*faceName:            xft:Roboto Mono:size=11:antialias=true:autohint=true
UXTerm*utf8:                1
!UXTerm*font:               -xos4-terminus-medium-r-normal-*-14-140-72-72-c-80-iso8859-1
!UXTerm*boldFont:           -xos4-terminus-medium-r-normal-*-14-140-72-72-c-80-iso8859-1
!UXTerm*background:         #101012
!UXTerm*foreground:         #E5E5E5
!UXTerm*cursorColor:        #E5E5E5
UXTerm*scrollBar:          false
UXTerm*rightScrollBar:     false

XTerm*termName:           xterm-256color
!XTerm*background:         #101012
!XTerm*foreground:         #E5E5E5
!XTerm*cursorColor:        #E5E5E5
!XTerm*font:               -xos4-terminus-medium-r-normal-*-14-140-72-72-c-80-iso8859-1
!XTerm*boldFont:           -xos4-terminus-medium-r-normal-*-14-140-72-72-c-80-iso8859-1
XTerm*faceName:          xft:Roboto Mono:size=11:antialias=true:autohint=true
XTerm*utf8:               1
XTerm*scrollBar:          false
XTerm*rightScrollBar:     false

! X-11 Apps------------------------------------------------------------------
xpdf*Background:    #CFC6BE
xpdf*Foreground:    #050505
xpdf*FontList:      -xos4-terminus-medium-r-normal-*-14-140-72-72-c-80-iso8859-1
xpdf*initialZoom:   page
xpdf*urlCommand:    firefox %s
xpdf*textEncoding:  utf-8

!source: https://wiki.archlinux.org/index.php/X_resources
!XCalc-----------------------------------------------------------------------
XCalc*geometry:                        200x275
XCalc*ti.bevel.background:             #111111
XCalc*ti.bevel.screen.background:      #000000
XCalc*ti.bevel.screen.DEG.background:  #000000
XCalc*ti.bevel.screen.DEG.foreground:  LightSeaGreen
XCalc*ti.bevel.screen.GRAD.background: #000000
XCalc*ti.bevel.screen.GRAD.foreground: LightSeaGreen
XCalc*ti.bevel.screen.RAD.background:  #000000
XCalc*ti.bevel.screen.RAD.foreground:  LightSeaGreen
XCalc*ti.bevel.screen.INV.background:  #000000
XCalc*ti.bevel.screen.INV.foreground:  Red
XCalc*ti.bevel.screen.LCD.background:  #000000
XCalc*ti.bevel.screen.LCD.foreground:  LightSeaGreen
XCalc*ti.bevel.screen.LCD.shadowWidth: 0
XCalc*ti.bevel.screen.M.background:    #000000
XCalc*ti.bevel.screen.M.foreground:    LightSeaGreen
XCalc*ti.bevel.screen.P.background:    #000000
XCalc*ti.bevel.screen.P.foreground:    Yellow
XCalc*ti.Command.foreground:  White
XCalc*ti.Command.background:  #777777
XCalc*ti.button5.background:  Orange3
XCalc*ti.button19.background: #611161
XCalc*ti.button18.background: #611161
XCalc*ti.button20.background: #611111
!uncomment to change label on division and sqrt buttons
XCalc*ti.button20.label:   /
XCalc*ti.button3.label:    SQRT
!
XCalc*ti.button25.background: #722222
XCalc*ti.button30.background: #833333
XCalc*ti.button35.background: #944444
XCalc*ti.button40.background: #a55555
XCalc*ti.button22.background: #222262
XCalc*ti.button23.background: #222262
XCalc*ti.button24.background: #222272
XCalc*ti.button27.background: #333373
XCalc*ti.button28.background: #333373
XCalc*ti.button29.background: #333373
XCalc*ti.button32.background: #444484
XCalc*ti.button33.background: #444484
XCalc*ti.button34.background: #444484
XCalc*ti.button37.background: #555595
XCalc*ti.button38.background: #555595
XCalc*ti.button39.background: #555595
XCalc*Cursor:                 hand2
XCalc*ShapeStyle:             rectangle
!XCalc*Font:6x13
XCalc*font:	-xos4-terminus-medium-r-normal-*-14-140-*-*-*-*-iso8859-1

!dzen2.font:	-xos4-terminus-medium-r-normal-*-14-140-*-*-*-*-iso8859-1
dzen2.font:     Liberation Mono:size=11:antialias=true:autohint=true
dzen2.foreground: #D2D2D2
dzen2.background: #191919
!

! xosview
xosview*geometry: 300x210+2+2
xosview*font: -xos4-terminus-medium-r-normal-*-14-140-*-*-*-*-iso8859-1
xosview*background: #E5E5EE
xosview*foreground: #202020
xosview*meterLabelColor: #202020
xosview*usedlabels: true
xosview*usedLabelColor: #202020
xosview*enableStipple: false
!xosview*graphNumCols:
xosview*load: true
xosview*loadIdleColor: #BBBBBB
xosview*loadProcColor: #2A296D
xosview*loadWarnColor: #D7AE2E
xosview*loadCritColor: #DA1613
!xosview*loadIdleColor:
xosview*loadPriority: 30
xosview*cpu: true
xosview*cpuPriority: 30
xosview*cpuUsedFormat: percent
xosview*cpuFormat: single
xosview*cpuFreeColor: #BBBBBB
xosview*mem: true
xosview*memPriority: 30
xosview*memFreeColor: #BBBBBB
!
xosview*swap: false
xosview*page: false
xosview*gfx: false
xosview*disk: false
!
xosview*acpitemp: true
xosview*battery: true
xosview*batteryLeftColor: #2A296D
xosview*batteryUsedColor: #4e4e4e
!xosview*batteryChargeColor:
xosview*batteryFullColor: #2A296D
xosview*batteryLowColor: #D7AE2E
xosview*batteryCritColor: #DA1613
xosview*batteryUsedFormat: percent
xosview*batteryPriority: 30
xosview*wireless: true
xosview*PoorQualityColor: #DA1613
xosview*FairQualityColor: #D7AE2E
xosview*GoodQualityColor: #2A296D
xosview*wirelessPriority: 30
xosview*net: true
xosview*netIface: wlp1s0
xosview*netPriority: 30

xosview*cpuGraph: false
xosview*loadGraph: false









