! Xft settings ---------------------------------------------------------
Xft.dpi: 96
Xft.antialias: 1
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: rgb
Xft.autohint: 0

! special
*.foreground:   #EDEDED
*.background:   #0F0F0F
*.cursorColor:  #EDEDED

! black
*.color0:       #000000
*.color8:       #4d4d4d

! red
*.color1:       #cc0403
*.color9:       #730b09

! green
*.color2:       #19cb00
*.color10:      #23fd00

! yellow
*.color3:       #cecb00
*.color11:      #fffd00

! blue
*.color4:       #001cd1
*.color12:      #0026ff

! magenta
*.color5:       #cb1ed1
*.color13:      #fd28ff

! cyan
*.color6:       #0dcdcd
*.color14:      #14ffff

! white
*.color7:       #e5e5e5
*.color15:      #ffffff

! URxvt -----------------------------------------------------------------------
URxvt*termName:          rxvt-256color
URxvt*scrollBar:         false
URxvt*scrollBar_right:   false

URxvt*transparent:       false

URxvt*depth:             32
URxvt.background:        [90]#0F0F0F

URxvt.font:              xft:Office Code Pro:size=11
URxvt.boldFont:          xft:Office Code Pro:size=11
URxvt.letterSpace: 1

*antialias:              true
*autohint:               true

!URxvt.perl-ext-common: default,matcher,selection-to-clipboard
!URxvt.url-launcher: firefox
!URxvt.matcher.button: 1
URxvt.perl-ext-common:  matcher
URxvt.urlLauncher:      firefox
URxvt.tabbed.tabbar-fg: 14
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg:    13
URxvt.tabbed.tab-bg:    0


! XTerminals ------------------------------------------------------------
UXterm*termName:            xterm-256color
UXTerm*faceName:            xft:Hack:regular:size=11:antialias=false:autohint=true
UXTerm*utf8:                1
!UXTerm*font:               -xos4-terminus-medium-r-normal-*-14-140-72-72-c-80-iso8859-1
!UXTerm*boldFont:           -xos4-terminus-medium-r-normal-*-14-140-72-72-c-80-iso8859-1
UXTerm*background:         #171717
UXTerm*foreground:         #E5E5E5
UXTerm*cursorColor:        #E5E5E5
UXTerm*scrollBar:          false
UXTerm*rightScrollBar:     false

XTerm*termName:           xterm-256color
XTerm*background:         #171717
XTerm*foreground:         #E5E5E5
XTerm*cursorColor:        #E5E5E5
!XTerm*font:               -xos4-terminus-medium-r-normal-*-14-140-72-72-c-80-iso8859-1
!XTerm*boldFont:           -xos4-terminus-medium-r-normal-*-14-140-72-72-c-80-iso8859-1
XTerm*faceName:           xft:Hack:regular:size=11:antialias=false:autohint=true
XTerm*utf8:               1
XTerm*scrollBar:          false
XTerm*rightScrollBar:     false

! X-11 Apps------------------------------------------------------------------
xpdf*Background:    #CFC6BE
xpdf*Foreground:    #050505
xpdf*FontList:      -xos4-terminus-medium-r-normal-*-14-140-72-72-c-80-iso8859-1
xpdf*initialZoom:   page
xpdf*urlCommand:    firefox %s
xpdf*textEncoding:  utf-8

!source: https://wiki.archlinux.org/index.php/X_resources
!XCalc-----------------------------------------------------------------------
XCalc*geometry:                        200x275
XCalc.ti.bevel.background:             #111111
XCalc.ti.bevel.screen.background:      #000000
XCalc.ti.bevel.screen.DEG.background:  #000000
XCalc.ti.bevel.screen.DEG.foreground:  LightSeaGreen
XCalc.ti.bevel.screen.GRAD.background: #000000
XCalc.ti.bevel.screen.GRAD.foreground: LightSeaGreen
XCalc.ti.bevel.screen.RAD.background:  #000000
XCalc.ti.bevel.screen.RAD.foreground:  LightSeaGreen
XCalc.ti.bevel.screen.INV.background:  #000000
XCalc.ti.bevel.screen.INV.foreground:  Red
XCalc.ti.bevel.screen.LCD.background:  #000000
XCalc.ti.bevel.screen.LCD.foreground:  LightSeaGreen
XCalc.ti.bevel.screen.LCD.shadowWidth: 0
XCalc.ti.bevel.screen.M.background:    #000000
XCalc.ti.bevel.screen.M.foreground:    LightSeaGreen
XCalc.ti.bevel.screen.P.background:    #000000
XCalc.ti.bevel.screen.P.foreground:    Yellow
XCalc.ti.Command.foreground:  White
XCalc.ti.Command.background:  #777777
XCalc.ti.button5.background:  Orange3
XCalc.ti.button19.background: #611161
XCalc.ti.button18.background: #611161
XCalc.ti.button20.background: #611111
!uncomment to change label on division button
XCalc.ti.button20.label:      /
XCalc.ti.button25.background: #722222
XCalc.ti.button30.background: #833333
XCalc.ti.button35.background: #944444
XCalc.ti.button40.background: #a55555
XCalc.ti.button22.background: #222262
XCalc.ti.button23.background: #222262
XCalc.ti.button24.background: #222272
XCalc.ti.button27.background: #333373
XCalc.ti.button28.background: #333373
XCalc.ti.button29.background: #333373
XCalc.ti.button32.background: #444484
XCalc.ti.button33.background: #444484
XCalc.ti.button34.background: #444484
XCalc.ti.button37.background: #555595
XCalc.ti.button38.background: #555595
XCalc.ti.button39.background: #555595
XCalc*Cursor:                 hand2
XCalc*ShapeStyle:             rectangle
!XCalc.font:	-xos4-terminus-medium-r-normal-*-14-140-*-*-*-*-iso8859-1

dzen2.font:	-xos4-terminus-medium-r-normal-*-14-140-*-*-*-*-iso8859-1
!dzen2.font:	inconsolata:medium:pixelsize=14:antialias=true:hintstyle=slight
dzen2.foreground: #D2D2D2
dzen2.background: #191919
!
