! Xft settings ---------------------------------------------------------
Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
! Xcursor.size:11

! special
*.foreground:   #c8c8c8
*.background:   #121314
*.cursorColor:  #c8c8c8

! black
*.color0:       #282a2e
*.color8:       #373b41

! red
*.color1:       #a54242
*.color9:       #cc6666

! green
*.color2:       #8c9440
*.color10:      #b5bd68

! yellow
*.color3:       #de935f
*.color11:      #f0c674

! blue
*.color4:       #3a5286
*.color12:      #396dbc

! magenta
*.color5:       #85678f
*.color13:      #b294bb

! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7

! white
*.color7:       #929292
*.color15:      #dbdbdb

! Urxvt ----------------------------------------------------------------
URxvt*termName:          rxvt-256color
URxvt*geometry:          92x32
URxvt.buffered:          true
URxvt*scrollBar:         false
URxvt*scrollBar_right:   false
URxvt*jumpScroll:        true
URxvt*skipScroll:        true
URxvt.secondaryScroll:   true
URxvt*scrollstyle:       plain
URxvt*scrollTtyOutput:   true
URxvt*saveLines:         4096
URxvt*internalBorder:    4
URxvt.cutchars:          "'*,<>[]{}|-_@:/()│"

URxvt*transparent:       false
URxvt*depth:             32
URxvt.background:        [96]#121314
URxvt*fading:            55
URxvt*highlightColor:    #D1C384
URxvt*highlightTextColor:  #0D0D0D

!URxvt.font:              -xos4-terminus-medium-r-normal-*-14-140-72-72-c-80-iso8859-1
!URxct.boldFont:          -xos4-terminus-medium-r-normal-*-14-140-72-72-c-80-iso8859-1
!*antialias:              true
!*autohint:               true

URxvt.font:              xft:Fira Code:Regular:size=10:antialias=true:autohint=true
URxvt.boldFont:          xft:Fira Code:Regular:size=10:antialias=true:autohint=true
URxvt.letterSpace: 1

URxvt.perl-ext-common: default,matcher
!URxvt.clipboard.autocopy: true
!URxvt.keysym.M-c: perl:clipboard:copy
!URxvt.keysym.M-v: perl:clipboard:paste
!URxvt.matcher.button: 1
URxvt.urlLauncher:      firefox
URxvt.tabbed.tabbar-fg: 8
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg:    7
URxvt.tabbed.tab-bg:    0

! XTerminals ------------------------------------------------------------

UXTerm.termName: UXTerm-256color
!UXTerm.vt100..locale: true
UXTerm.vt100..locale: false
UXTerm.vt100..utf8: true
UXTerm.vt100.saveLines: 4096
UXTerm.vt100.scrollBar:          false
UXTerm.vt100.rightScrollBar:     false
UXTerm.vt100.geometry:           96x32
!UXTerm.vt100.background:        #101012
!UXTerm.vt100.foreground:        #E5E5E5
!UXTerm.vt100.cursorColor:       #E5E5E5
!UXTerm.vt100.font:               -xos4-terminus-medium-r-normal-*-16-160-72-72-c-80-iso8859-1
!UXTerm.vt100.boldFont:           -xos4-terminus-medium-r-normal-*-16-160-72-72-c-80-iso8859-1
UXTerm.vt100.faceName:           xft:DejaVu Markup:size=10:antialias=true:autohint=true
!UXTerm.vt100.faceName:          xft:Fira Code:style=regular:size=10:antialias=true:autohint=true

UXTerm.vt100.metaSendsEscape: true
UXTerm.vt100.backarrowKey: false
UXTerm.ttyModes: erase ^?

UXTerm.vt100.translations: #override \n\
    Ctrl <Key>M: maximize() \n\
    Ctrl <Key>R: restore()

UXTerm*VT100.Translations: #override \
     Ctrl Shift <KeyPress> C: copy-selection(CLIPBOARD) \n\
     Ctrl Shift <KeyPress> V: insert-selection(CLIPBOARD)

XTerm.termName: xterm-256color
!XTerm.vt100..locale: true
XTerm.vt100..locale: false
XTerm.vt100..utf8: true
XTerm.vt100.saveLines: 4096
XTerm.vt100.scrollBar:          false
XTerm.vt100.rightScrollBar:     false
XTerm.vt100.geometry:           96x32
!XTerm.vt100.background:        #101012
!XTerm.vt100.foreground:        #E5E5E5
!XTerm.vt100.cursorColor:       #E5E5E5
!XTerm.vt100.font:               -xos4-terminus-medium-r-normal-*-16-160-72-72-c-80-iso8859-1
!XTerm.vt100.boldFont:           -xos4-terminus-medium-r-normal-*-16-160-72-72-c-80-iso8859-1
XTerm.vt100.faceName:           xft:DejaVu Markup:Book:size=10:antialias=true:autohint=true
!XTerm.vt100.faceName:          xft:Fira Code:style=regular:size=10:antialias=true:autohint=true

XTerm.vt100.metaSendsEscape: true
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?

XTerm.vt100.translations: #override \n\
    Ctrl <Key>M: maximize() \n\
    Ctrl <Key>R: restore()

XTerm*VT100.Translations: #override \
     Ctrl Shift <KeyPress> C: copy-selection(CLIPBOARD) \n\
     Ctrl Shift <KeyPress> V: insert-selection(CLIPBOARD)

! X-11 Apps------------------------------------------------------------------
xpdf*Background:    #CFC6BE
xpdf*Foreground:    #050505
xpdf*FontList:      -xos4-terminus-medium-r-normal-*-14-140-72-72-c-80-iso8859-1
xpdf*initialZoom:   page
xpdf*urlCommand:    firefox %s
xpdf*textEncoding:  utf-8

!source: https://wiki.archlinux.org/index.php/X_resources
!XCalc-----------------------------------------------------------------------
XCalc*geometry:                        256x400
XCalc*ti.bevel.background:             #111111
XCalc*ti.bevel.screen.background:      #000000
XCalc*ti.bevel.screen.DEG.background:  #000000
XCalc*ti.bevel.screen.DEG.foreground:  #1E8C86
XCalc*ti.bevel.screen.GRAD.background: #000000
XCalc*ti.bevel.screen.GRAD.foreground: #1E8C86
XCalc*ti.bevel.screen.RAD.background:  #000000
XCalc*ti.bevel.screen.RAD.foreground:  #1E8C86
XCalc*ti.bevel.screen.INV.background:  #000000
XCalc*ti.bevel.screen.INV.foreground:  Red
XCalc*ti.bevel.screen.LCD.background:  #000000
XCalc*ti.bevel.screen.LCD.foreground:  #1E8C86
XCalc*ti.bevel.screen.LCD.shadowWidth: 0
XCalc*ti.bevel.screen.M.background:    #000000
XCalc*ti.bevel.screen.M.foreground:    #1E8C86
XCalc*ti.bevel.screen.P.background:    #000000
XCalc*ti.bevel.screen.P.foreground:    #D9D918
XCalc*ti.Command.foreground:  #ECECEC
XCalc*ti.Command.background:  #474747
XCalc*Cursor:                 hand2
XCalc*ShapeStyle:             rectangle
!XCalc*Font:       6x13
XCalc*Font:       -*-terminus-medium-r-normal-*-14-140-*-*-*-*-iso10646-1

! XCalc button colors
XCalc*ti.button4.background:	#C52934
XCalc*ti.button5.background:	#911E26

XCalc.ti.button27.background:	#4D175C
XCalc.ti.button28.background:	#4D175C
XCalc.ti.button29.background:	#4D175C
XCalc.ti.button32.background:	#4D175C
XCalc.ti.button33.background:	#4D175C
XCalc.ti.button34.background:	#4D175C

XCalc.ti.button35.background:	#2F7A3E
XCalc.ti.button40.background:	#2F7A3E
XCalc.ti.button45.background:	#2F7A3E
XCalc.ti.button50.background:	#2F7A3E

XCalc.ti.button37.background:	#346BA1
XCalc.ti.button38.background:	#346BA1
XCalc.ti.button39.background:	#346BA1
XCalc.ti.button42.background:	#346BA1
XCalc.ti.button43.background:	#346BA1
XCalc.ti.button44.background:	#346BA1
XCalc.ti.button47.background:	#346BA1
XCalc.ti.button48.background:	#346BA1
XCalc.ti.button49.background:	#346BA1
XCalc.ti.button52.background:	#346BA1

XCalc*ti.button53.background:	#998031
XCalc*ti.button54.background:	#806B29
XCalc*ti.button55.background:	#665621

!dzen2.font:	-*-terminus-medium-r-normal-*-14-140-*-*-*-*-iso10646-1
dzen2.font:     Roboto Mono:size=11:antialias=true:autohint=true
dzen2.foreground: #D2D2D2
dzen2.background: #191919
!

! xosview
xosview*geometry: 320x240+8+8
xosview*font: -xos4-terminus-medium-r-normal-*-14-140-72-72-c-80-iso8859-1
!xosview*font: -*-fixed-medium-r-normal-*-10-70-100-100-c-60-iso8859-1
xosview*background: #1F2024
xosview*foreground: #202020
xosview*meterLabelColor: #BBBBBB
xosview*captions: true
xosview*usedlabels: true
xosview*usedLabelColor: #BBBBBB
xosview*enableStipple: false
!xosview*graphNumCols: 0
xosview*load: true
xosview*loadIdleColor: #2C2D33
xosview*loadProcColor: #424266
xosview*loadWarnColor: #D7AE2E
xosview*loadCritColor: #DA1613
!xosview*loadIdleColor:
xosview*loadPriority: 30
xosview*loadGraph: false
xosview*cpu: true
xosview*cpuGraph: false
xosview*cpuPriority: 30
xosview*cpuUsedFormat: percent
xosview*cpuFormat: single
!xosview*cpuFields: USED
xosview*cpuUserColor: #424266
xosview*cpuSystemColor: #424266
xosview*cpuInterruptColor: #424266
xosview*cpuSInterruptColor: #424266
xosview*cpuWaitColor: #424266
xosview*cpuGuestColor: #424266
xosview*cpuNiceGuestColor: #424266
xosview*cpuStolenColor: #424266
xosview*cpuFreeColor: #2C2D33
xosview*mem: true
xosview*memPriority: 30
xosview*memFreeColor: #2C2D33
xosview*memUsedColor: #424266
xosview*memSharedColor: #424266
xosview*memBufferColor: #424266
xosview*memCacheColor: #424266
xosview*memSlabColor: #424266
!
xosview*swap: false
xosview*page: false
xosview*gfx: false
xosview*disk: false
xosview*acpitemp: false
!
xosview*coretemp: true
xosview*coretempHighest: 100
xosview*coretempHigh: 70
xosview*coretempDisplayType: maximum
xosview*coretempPriority: 30
xosview*coretempActColor: #424266
xosview*coretempIdleColor: #424242
xosview*coretempHighColor: #424242
xosview*coretempUsedFormat: autoscale
!
xosview*battery: true
xosview*batteryLeftColor: #424266
xosview*batteryUsedColor: #424242
xosview*batteryChargeColor: #3D3D66
xosview*batteryFullColor: #424266
xosview*batteryLowColor: #D7AE2E
xosview*batteryCritColor: #DA1613
xosview*batteryUsedFormat: percent
xosview*batteryPriority: 30
xosview*wireless: true
xosview*PoorQualityColor: #DA1613
xosview*FairQualityColor: #D7AE2E
xosview*GoodQualityColor: #424266
xosview*wirelessUsedColor: #424242
xosview*wirelessPriority: 30
xosview*net: true
xosview*netIface: wlp1s0
xosview*netUsedFormat: autoscale
xosview*netInColor: #424266
xosview*netOutColor: #4D805A
xosview*netBackground: #424242
xosview*netPriority: 30
xosview*netGraph: false

! XClock
!=======================================
XClock*analog: true
XClock*width: 112
XClock*height: 112
XClock*update: 1
XClock*background: #1A1B1C
XClock*foreground: #D9D9D9
XClock*hands: #D9D9D9
XClock*highlight: #CCCCCC
XClock*twentyfour: true
XClock*chime: false
XClock*padding: 2
XClock*font: -xos4-terminus-medium-r-normal-*-14-140-*-*-*-*-iso8859-1
XClock*render: true
XClock*face: -xos4-terminus-medium-r-normal-*-14-140-*-*-*-*-iso8859-1
XClock*sharp: false
XClock*buffer: false
XClock*hourColor: #BBBBBB
XClock*minuteColor: #BBBBBB
XClock*secondColor: #5C7EA1
XClock*majorColor: #AAAAAA
XClock*minorColor: #AAAAAA

