<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<menu id="root-menu" label="Openbox 3">
		<separator label="Openbox"/>
		<item label="Run Application .....">
			<action name="Execute">
				<execute>rofi -show run</execute>
			</action>
		</item>
		<separator/>
		<item label="Terminal">
			<action name="Execute">
				<execute>sakura -c 90 -r 34</execute>
			</action>
		</item>
		<item label="File Manager">
			<action name="Execute">
				<execute>thunar</execute>
			</action>
		</item>
		<item label="Sublime">
			<action name="Execute">
				<execute>subl3</execute>
			</action>
		</item>
		<item label="Firefox">
			<action name="Execute">
				<execute>firefox</execute>
			</action>
		</item>
		<item label="Thunderbird">
			<action name="Execute">
				<execute>thunderbird</execute>
			</action>
		</item>
		<item label="Gimp">
			<action name="Execute">
				<execute>gimp</execute>
			</action>
		</item>
		<separator/>
		<menu id="root-menu-882017" label="Terminals">
			<item label="Sakura">
				<action name="Execute">
					<execute>sakura</execute>
				</action>
			</item>
			<item label="Simple Terminal">
				<action name="Execute">
					<execute>st</execute>
				</action>
			</item>
			<item label="Urxvt">
				<action name="Execute">
					<execute>urxvt</execute>
				</action>
			</item>
			<item label="Uxterm">
				<action name="Execute">
					<execute>uxterm</execute>
				</action>
			</item>
			<item label="Xterm">
				<action name="Execute">
					<execute>xterm</execute>
				</action>
			</item>
		</menu>
		<menu id="root-menu-491956" label="Editors">
			<item label="Sublime">
				<action name="Execute">
					<execute>subl3</execute>
				</action>
			</item>
			<item label="Emacs">
				<action name="Execute">
					<execute>emacs</execute>
				</action>
			</item>
		</menu>
		<menu id="root-menu-81850" label="Internet">
			<item label="Firefox">
				<action name="Execute">
					<execute>firefox</execute>
				</action>
			</item>
			<item label="Thunderbird">
				<action name="Execute">
					<execute>thunderbird</execute>
				</action>
			</item>
			<item label="FileZilla">
				<action name="Execute">
					<execute>filezilla</execute>
				</action>
			</item>
			<item label="Hexchat">
				<action name="Execute">
					<execute>hexchat</execute>
				</action>
			</item>
		</menu>
		<menu id="root-menu-841655" label="Office">
			<item label="LibreOffice Writer">
				<action name="Execute">
					<execute>libreoffice --writer</execute>
				</action>
			</item>
			<item label="LibreOffice Calc">
				<action name="Execute">
					<execute>libreoffice --calc</execute>
				</action>
			</item>
			<item label="LibreOffice Draw">
				<action name="Execute">
					<execute>libreoffice --draw</execute>
				</action>
			</item>
			<item label="LibreOffice Impress">
				<action name="Execute">
					<execute>libreoffice --impress</execute>
				</action>
			</item>
			<item label="Xcalc">
				<action name="Execute">
					<execute>xcalc</execute>
				</action>
			</item>
		</menu>
		<menu id="root-menu-571515" label="Graphics">
			<item label="Gimp">
				<action name="Execute">
					<execute>gimp</execute>
				</action>
			</item>
			<item label="Gcolor2">
				<action name="Execute">
					<execute>gcolor2</execute>
				</action>
			</item>
			<item label="Feh Wallpaper">
				<action name="Execute">
					<execute>feh -g 800x450 --scale-down ~/wallpaper</execute>
				</action>
			</item>
			<item label="Zathura">
				<action name="Execute">
					<execute>zathura</execute>
				</action>
			</item>
			<item label="Guvcview">
				<action name="Execute">
					<execute>guvcview</execute>
				</action>
			</item>
		</menu>
		<menu id="root-menu-171418" label="Multimedia">
			<item label="Audacious">
				<action name="Execute">
					<execute>audacious</execute>
				</action>
			</item>
			<item label="Asunder">
				<action name="Execute">
					<execute>asunder</execute>
				</action>
			</item>
			<item label="Vlc">
				<action name="Execute">
					<execute>vlc</execute>
				</action>
			</item>
			<item label="Xfburn">
				<action name="Execute">
					<execute>xfburn</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<item label="Obconf">
			<action name="Execute">
				<execute>obconf</execute>
			</action>
		</item>
		<item label="Obmenu">
			<action name="Execute">
				<execute>obmenu</execute>
			</action>
		</item>
		<separator/>
		<item label="Reconfigure">
			<action name="Reconfigure"/>
		</item>
		<item label="Restart">
			<action name="Restart"/>
		</item>
		<item label="Log Out">
			<action name="Exit">
				<prompt>yes</prompt>
			</action>
		</item>
	</menu>
</openbox_menu>
