<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<menu id="root-menu" label="Openbox 3">
		<separator label="Void Linux"/>
		<item label="Run .....">
			<action name="Execute">
				<execute>rofi -show</execute>
			</action>
		</item>
		<separator/>
		<item label="File Manager">
			<action name="Execute">
				<execute>pcmanfm</execute>
			</action>
		</item>
		<item label="URxvt">
			<action name="Execute">
				<execute>urxvt</execute>
			</action>
		</item>
		<item label="Xterm">
			<action name="Execute">
				<execute>xterm</execute>
			</action>
		</item>
		<item label="Text Editor">
			<action name="Execute">
				<execute>subl3</execute>
			</action>
		</item>
		<menu id="root-menu-381743" label="Terminals">
			<item label="URxvt">
				<action name="Execute">
					<execute>urxvt</execute>
				</action>
			</item>
			<item label="Sakura">
				<action name="Execute">
					<execute>sakura</execute>
				</action>
			</item>
			<item label="XTerm">
				<action name="Execute">
					<execute>xterm</execute>
				</action>
			</item>
			<item label="Simple Terminal">
				<action name="Execute">
					<execute>st</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<item label="Firefox">
			<action name="Execute">
				<execute>firefox</execute>
			</action>
		</item>
		<item label="Thunderbird">
			<action name="Execute">
				<execute>thunderbird</execute>
			</action>
		</item>
		<item label="Gimp">
			<action name="Execute">
				<execute>gimp</execute>
			</action>
		</item>
		<item label="Screenshot - png">
			<action name="Execute">
				<execute>scrot -q 100 -cd 5 ~/pictures/sshot-%T_%F.png</execute>
			</action>
		</item>
		<item label="Screenshot - jpg">
			<action name="Execute">
				<execute>scrot -q 100 -cd 5 ~/pictures/sshot-%T_%F.jpg</execute>
			</action>
		</item>
		<separator/>
		<menu id="root-menu-165723" label="Internet">
			<item label="Opera">
				<action name="Execute">
					<execute>opera</execute>
				</action>
			</item>
			<item label="FileZilla">
				<action name="Execute">
					<execute>filezilla</execute>
				</action>
			</item>
			<item label="Hexchat">
				<action name="Execute">
					<execute>hexchat</execute>
				</action>
			</item>
		</menu>
		<menu id="root-menu-615420" label="Multimedia">
			<item label="Geeqie">
				<action name="Execute">
					<execute>geeqie</execute>
				</action>
			</item>
			<item label="Vlc">
				<action name="Execute">
					<execute>vlc</execute>
				</action>
			</item>
			<item label="Mpv">
				<action name="Execute">
					<execute>mpv --player-operation-mode=pseudo-gui</execute>
				</action>
			</item>
			<item label="Audacious">
				<action name="Execute">
					<execute>audacious</execute>
				</action>
			</item>
			<item label="Xfburn">
				<action name="Execute">
					<execute>xfburn</execute>
				</action>
			</item>
			<item label="Wallpaper">
				<action name="Execute">
					<execute>nitrogen</execute>
				</action>
			</item>
			<item label="Appearance">
				<action name="Execute">
					<execute>lxappearance</execute>
				</action>
			</item>
		</menu>
		<menu id="root-menu-2539" label="Office">
			<item label="Document">
				<action name="Execute">
					<execute>libreoffice --writer</execute>
				</action>
			</item>
			<item label="Spreadsheet">
				<action name="Execute">
					<execute>libreoffice --calc</execute>
				</action>
			</item>
			<item label="Qpdfview">
				<action name="Execute">
					<execute>qpdfview</execute>
				</action>
			</item>
			<item label="Calculator">
				<action name="Execute">
					<execute>galculator</execute>
				</action>
			</item>
		</menu>
		<menu id="root-menu-353439" label="Graphics">
			<item label="Inkscape">
				<action name="Execute">
					<execute>inkscape</execute>
				</action>
			</item>
			<item label="Appearance">
				<action name="Execute">
					<execute>lxappearance</execute>
				</action>
			</item>
			<item label="Wallpaper">
				<action name="Execute">
					<execute>nitrogen</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<item label="Obconf">
			<action name="Execute">
				<execute>obconf</execute>
			</action>
		</item>
		<item label="Obmenu">
			<action name="Execute">
				<execute>obmenu</execute>
			</action>
		</item>
		<item label="Reconfigure">
			<action name="Reconfigure"/>
		</item>
		<item label="Restart">
			<action name="Restart"/>
		</item>
		<item label="Log Out">
			<action name="Exit">
				<prompt>yes</prompt>
			</action>
		</item>
		<separator/>
		<item label="System Logout">
			<action name="Execute">
				<execute>void-logout</execute>
			</action>
		</item>
	</menu>
</openbox_menu>
